/coin.png
/mana.png
/medium_fire.png
/small_fire.png
plot.txt
tasklist.txt
Tiled/AUTHORS.txt
Tiled/COPYING.txt
Tiled/libcrypto-1_1-x64.dll
Tiled/libgcc_s_seh-1.dll
Tiled/libssl-1_1-x64.dll
Tiled/libstdc++-6.dll
Tiled/libwinpthread-1.dll
Tiled/LICENSE.APACHE.txt
Tiled/LICENSE.BSD.txt
Tiled/LICENSE.GPL.txt
Tiled/Logical.tsx
Tiled/LogicTiles.png
Tiled/NEWS.txt
Tiled/qt.conf
Tiled/Qt5Concurrent.dll
Tiled/Qt5Core.dll
Tiled/Qt5Gui.dll
Tiled/Qt5Network.dll
Tiled/Qt5Qml.dll
Tiled/Qt5Svg.dll
Tiled/Qt5Widgets.dll
Tiled/README.txt
Tiled/terraingenerator.exe
Tiled/tiled.dll
Tiled/tiled.exe
Tiled/tilededitor.dll
Tiled/tmxrasterizer.exe
Tiled/tmxviewer.exe
Tiled/examples/buch-outdoor.png
Tiled/examples/desert.tmx
Tiled/examples/desert.tsx
Tiled/examples/hexagonal-mini.tmx
Tiled/examples/hexmini.png
Tiled/examples/intro_map.js
Tiled/examples/intro_map.tmj
Tiled/examples/isometric_grass_and_water.png
Tiled/examples/isometric_grass_and_water.tmx
Tiled/examples/orthogonal-outside.js
Tiled/examples/orthogonal-outside.tmx
Tiled/examples/perspective_walls.png
Tiled/examples/perspective_walls.tmx
Tiled/examples/perspective_walls.tsx
Tiled/examples/sewer_tileset.png
Tiled/examples/sewers.tmx
Tiled/examples/tmw_desert_spacing.png
Tiled/examples/python/fotf.py
Tiled/examples/python/mappy.py
Tiled/examples/python/pk2.py
Tiled/examples/python/zst.py
Tiled/examples/python/lib/__init__.py
Tiled/examples/python/lib/cpystruct.py
Tiled/examples/python/lib/lbm.py
Tiled/examples/python/lib/mappy_types.py
Tiled/examples/sewer_automap/rule_001.tmx
Tiled/examples/sewer_automap/rule_002.tmx
Tiled/examples/sewer_automap/rule_003.tmx
Tiled/examples/sewer_automap/rule_004.tmx
Tiled/examples/sewer_automap/rule_005.tmx
Tiled/examples/sewer_automap/rule_006.tmx
Tiled/examples/sewer_automap/rule_007.tmx
Tiled/examples/sewer_automap/rule_008.tmx
Tiled/examples/sewer_automap/rule_009.tmx
Tiled/examples/sewer_automap/rules_sewers.png
Tiled/examples/sewer_automap/rules.txt
Tiled/examples/sewer_automap/sewers.tmx
Tiled/examples/sticker-knight/preview.png
Tiled/examples/sticker-knight/README.md
Tiled/examples/sticker-knight/sprites.png
Tiled/examples/sticker-knight/map/alter.png
Tiled/examples/sticker-knight/map/backgroundArch.png
Tiled/examples/sticker-knight/map/backgroundMountain.png
Tiled/examples/sticker-knight/map/backgroundTower.png
Tiled/examples/sticker-knight/map/backgroundTree.png
Tiled/examples/sticker-knight/map/blobBlue.png
Tiled/examples/sticker-knight/map/blobGreen.png
Tiled/examples/sticker-knight/map/blue.png
Tiled/examples/sticker-knight/map/bombStroked.png
Tiled/examples/sticker-knight/map/castleWall.png
Tiled/examples/sticker-knight/map/cloud.png
Tiled/examples/sticker-knight/map/column1.png
Tiled/examples/sticker-knight/map/column2.png
Tiled/examples/sticker-knight/map/doorBlueStroked.png
Tiled/examples/sticker-knight/map/doorGreenStroke.png
Tiled/examples/sticker-knight/map/doorRedStroked.png
Tiled/examples/sticker-knight/map/doorStroked.png
Tiled/examples/sticker-knight/map/earthWall.png
Tiled/examples/sticker-knight/map/earthWall2.png
Tiled/examples/sticker-knight/map/exit.png
Tiled/examples/sticker-knight/map/flare.png
Tiled/examples/sticker-knight/map/gemBlueStroked.png
Tiled/examples/sticker-knight/map/gemRedStroked.png
Tiled/examples/sticker-knight/map/grassLarge.png
Tiled/examples/sticker-knight/map/grassSmall.png
Tiled/examples/sticker-knight/map/grey.png
Tiled/examples/sticker-knight/map/hero.png
Tiled/examples/sticker-knight/map/keyGreenStroked.png
Tiled/examples/sticker-knight/map/keyRedStroked.png
Tiled/examples/sticker-knight/map/keyYellowStroked.png
Tiled/examples/sticker-knight/map/objs.tsx
Tiled/examples/sticker-knight/map/platform1.png
Tiled/examples/sticker-knight/map/platform2.png
Tiled/examples/sticker-knight/map/platform3.png
Tiled/examples/sticker-knight/map/platform4.png
Tiled/examples/sticker-knight/map/platformBase1.png
Tiled/examples/sticker-knight/map/platformBase2.png
Tiled/examples/sticker-knight/map/platformBase3.png
Tiled/examples/sticker-knight/map/platformBase4.png
Tiled/examples/sticker-knight/map/platformBlock1.png
Tiled/examples/sticker-knight/map/platformBlock2.png
Tiled/examples/sticker-knight/map/platformBlock3.png
Tiled/examples/sticker-knight/map/platformBlock4.png
Tiled/examples/sticker-knight/map/platformConnector1.png
Tiled/examples/sticker-knight/map/platformConnector2.png
Tiled/examples/sticker-knight/map/platformConnector3.png
Tiled/examples/sticker-knight/map/platformConnector4.png
Tiled/examples/sticker-knight/map/pushBlock1.png
Tiled/examples/sticker-knight/map/pushBlock2.png
Tiled/examples/sticker-knight/map/pushBlock3.png
Tiled/examples/sticker-knight/map/sandbox.tmx
Tiled/examples/sticker-knight/map/sandbox2.tmx
Tiled/examples/sticker-knight/map/shadow.png
Tiled/examples/sticker-knight/map/shieldStroked.png
Tiled/examples/sticker-knight/map/sign.png
Tiled/examples/sticker-knight/map/skeleton.png
Tiled/examples/sticker-knight/map/swordStroked.png
Tiled/examples/sticker-knight/map/torch.png
Tiled/examples/sticker-knight/map/trap.png
Tiled/examples/sticker-knight/map/wallDecor1.png
Tiled/examples/sticker-knight/map/wallDecor2.png
Tiled/examples/sticker-knight/map/wallDecor3.png
Tiled/examples/sticker-knight/map/window1.png
Tiled/examples/sticker-knight/map/window2.png
Tiled/examples/sticker-knight/map/window3.png
Tiled/examples/sticker-knight/map/templates/block.tx
Tiled/examples/sticker-knight/map/templates/diamond.tx
Tiled/examples/sticker-knight/map/templates/hero.tx
Tiled/examples/sticker-knight/ui/backgroundSet.png
Tiled/examples/sticker-knight/ui/block.png
Tiled/examples/sticker-knight/ui/buttonHelp.png
Tiled/examples/sticker-knight/ui/buttonStart.png
Tiled/examples/sticker-knight/ui/cloud.png
Tiled/examples/sticker-knight/ui/gem.png
Tiled/examples/sticker-knight/ui/heart.png
Tiled/examples/sticker-knight/ui/helpBackground.png
Tiled/examples/sticker-knight/ui/shield.png
Tiled/examples/sticker-knight/ui/title.json
Tiled/examples/sticker-knight/ui/title.png
Tiled/plugins/iconengines/qsvgicon.dll
Tiled/plugins/imageformats/qgif.dll
Tiled/plugins/imageformats/qjpeg.dll
Tiled/plugins/imageformats/qsvg.dll
Tiled/plugins/imageformats/qtga.dll
Tiled/plugins/imageformats/qtiff.dll
Tiled/plugins/imageformats/qwbmp.dll
Tiled/plugins/imageformats/qwebp.dll
Tiled/plugins/platforms/qwindows.dll
Tiled/plugins/styles/qwindowsvistastyle.dll
Tiled/plugins/tiled/csv.dll
Tiled/plugins/tiled/defold.dll
Tiled/plugins/tiled/defoldcollection.dll
Tiled/plugins/tiled/droidcraft.dll
Tiled/plugins/tiled/flare.dll
Tiled/plugins/tiled/gmx.dll
Tiled/plugins/tiled/json.dll
Tiled/plugins/tiled/json1.dll
Tiled/plugins/tiled/lua.dll
Tiled/plugins/tiled/python.dll
Tiled/plugins/tiled/replicaisland.dll
Tiled/plugins/tiled/rpmap.dll
Tiled/plugins/tiled/tbin.dll
Tiled/plugins/tiled/tengine.dll
Tiled/plugins/tiled/yy.dll
Tiled/translations/qt_cs.qm
Tiled/translations/qt_de.qm
Tiled/translations/qt_es.qm
Tiled/translations/qt_fr.qm
Tiled/translations/qt_he.qm
Tiled/translations/qt_ja.qm
Tiled/translations/qt_pl.qm
Tiled/translations/qt_pt.qm
Tiled/translations/qt_ru.qm
Tiled/translations/qt_sv.qm
Tiled/translations/qt_uk.qm
Tiled/translations/qt_zh_CN.qm
Tiled/translations/qt_zh_TW.qm
Tiled/translations/tiled_ar_DZ.qm
Tiled/translations/tiled_bg.qm
Tiled/translations/tiled_cs.qm
Tiled/translations/tiled_de.qm
Tiled/translations/tiled_en.qm
Tiled/translations/tiled_es.qm
Tiled/translations/tiled_fr.qm
Tiled/translations/tiled_he.qm
Tiled/translations/tiled_it.qm
Tiled/translations/tiled_ja.qm
Tiled/translations/tiled_nb.qm
Tiled/translations/tiled_nl.qm
Tiled/translations/tiled_pl.qm
Tiled/translations/tiled_pt_PT.qm
Tiled/translations/tiled_pt.qm
Tiled/translations/tiled_ru.qm
Tiled/translations/tiled_sv.qm
Tiled/translations/tiled_th.qm
Tiled/translations/tiled_tr.qm
Tiled/translations/tiled_uk.qm
Tiled/translations/tiled_zh_CN.qm
Tiled/translations/tiled_zh_TW.qm
dragon_portrait_large.png
dragon2.png
